<h1>Moon Resort</h1>
<p>Найкращий відпочинок</p>
<img src="/images/101.jpg" class="img-thumbnail" width="800" height="500"> 
<table class="table table-dark table-striped">
<thead>
<tr>
<th><%= link_to 'Кімната для однієї особи', room1_index_path %></th>
<th><%= link_to 'Кімната для двох осіб', room2_index_path %></th>
<th><%= link_to 'Кімната для трьох осіб', room3_index_path %></th>
</tr>
</thead>
</table>